<h1 class="title"><%= "Invoice \##{@invoice.id}"%></h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  <% @invoice.line_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= number_to_currency item.qty %></td>
      <td><%= number_to_currency item.price %></td>
      <td><%= number_to_currency item.total %></td>
    </tr>
  <% end %>
</table>
<p>Subtotal: <%= @invoice.subtotal %> </p>
<p>Tax (5%): <%= @invoice.tax %> </p>
<p>Total: <%= @invoice.total %> </p>
<br>
<%= link_to 'Export to PDF', invoice_path(@invoice, format: 'pdf'), class: "button is-dark" %>

<%= link_to 'Invoices', invoices_path, class: "button is-light" %>

